{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <article>
        <h1>Menu item</h1>
        <span>
            <a href="{% url 'home' %}">Home</a> /
            <a href="{% url 'menu' %}">Menu</a>/
            {{menu.name}}
        </span>
        <!--Begin row-->
        <div class="row">
            <!--Begin col-->
            <div class="column">
                <h2>
                    {{menu.name}}
                </h2>
                <p>
                   {{menu.description}}
                </p>
                <p>
                    ${{menu.price}}.00
                </p>
            </div>
            <!--End col-->
            <!--Begin col-->
            <div class="column">
                <img src="/restaurant/img/menu_items/{{menu.name}}.jpg" alt="{{ menu_item.name}}" />
            </div>
            <!--End col-->
        </div>
        <!--End row-->
    </article>
</section>
{% endblock %}